{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Device list
{% endblock %}

{% block content %}
<h2>Device list</h2>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
                {{ filter.form.as_p }}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>


		</div>
	</div>

</div>
<br>
    <table class="table table-bordered" data-sort-name="field_id" data-sort-order="asc">
        <thead>
            <tr>
                <th  class="text-nowrap" data-field='field_id'>Id</th>
                <th  class="text-nowrap" data-field='field_name'>Name</th>
                <th  class="text-nowrap" data-field='field_serial_number'>Serial Number</th>
                <th  class="text-nowrap" data-field='field_contract'>Contract</th>
                <th  class="text-nowrap" data-field='field_expiration_date'>Expiration date</th>
                <th  class="text-nowrap" data-field='field_renewal_date'>Renewal date</th>
                <th  class="text-nowrap" data-field='field_host_name'>Host name</th>
                <th  class="text-nowrap" data-field='field_make'>Make</th>
                <th  class="text-nowrap" data-field='field_model'>Model</th>
                <th  class="text-nowrap" data-field='field_place'>Place</th>
                <th  class="text-nowrap" data-field='field_user'>User</th>
                <th  class="text-nowrap" data-field='field_detail'>Detail</th>
                <th  class="text-nowrap" data-field='field_delete'>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
                <tr>
                    <th scope="row">{{device.id}}</th>
                        <td>{{device.name}}</td>
                        <td>{{device.serial_number}}</td>
                        <td>{{device.contract}}</td>
                        <td>{{device.expiration_date}}</td>
                        <td>{{device.renewal_date}}</td>
                        <td>{{device.host_name}}</td>
                        <td>{{device.make}}</td>
                        <td>{{device.model}}</td>
                         <td><a href="{% url 'place_detail' device.place.id %}">
                            {{device.place}}</a></td>
                        <td>{{device.user}}</td>
                        <td><a href="{% url 'device_detail' device.id %}">
                            Detail</a></td>
                        <td><a href="{% url 'device_delete' device.id %}">Delete device</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}