{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ device.name }}
{% endblock %}

{% block content %}
    <div>
        <a href="{% url 'device_delete' device.id %}">Delete device</a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Name: {{ device.name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Serial number: {{ device.serial_number }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Print device detail: <a href="http://localhost:8013/api/print/text?text=CONTRATTO:+{{device.contract}}%0ASCAD:+{{ device.expiration_date }}%0AHOST+NAME:+{{ device.host_name }}%0AMODEL+TYPE:+{{ device.model }}%0ASERIALNUMBER:+{{ device.serial_number }}&font_family=FreeMono+(Regular)&font_size=50&label_size=39x90&align=left&orientation=standard&margin_top=0&margin_bottom=0&margin_left=0&margin_right=0" target="_blank">Printer</a></p>
        </div>
    </div>

    <!--<input type="hidden" id="deviceObj" name="device" value="{{ deviceDetails }}">
    <button onclick="myFunction()">Click me!</button>-->

<script src="{% static 'brotherscript.js' %}"></script>

{% endblock %}