{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% block title %}
    Device list
{% endblock %}

{% block content %}
    <h2>Device list</h2>
    <div class="row">
        <div class=" col-md-3">
            <div class="card card-body">

                <form method="get">
                    {{ filter.form.as_p }}
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
         <div class=" col-md-3">
            <div class="card card-body">
                <h5><i class="bi bi-play-fill"></i> Total active Devices</h5>
                <hr>
                <h1>{{ active_devices }}</h1>
            </div>
        </div>
        <div class=" col-md-3">
            <div class="card card-body">
                <h5><i class="bi bi-pause-fill"></i> Total available devices</h5>
                <hr>
                <h1>{{ available_devices }}</h1>
            </div>
        </div>
        <div class=" col-md-3">
            <div class="card card-body">
                <h5><i class="bi bi-stop-fill"></i> Total historic devices</h5>
                <hr>
                <h1>{{ hist_devices }}</h1>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class=" col-md-3">
            <div class="card card-body">
                <h5><i class="bi bi-stop-fill"></i> Export devices</h5>
                <hr>
                <h1><a href="{% url 'export_devices' %}">Export</a></h1>
            </div>
        </div>
    </div>
        <div class="table-responsive">

    <table id="sortedtable" class="table table-striped table-bordered table-responsive" data-sort-name="field_id" data-sort-order="asc">
        <thead>
        <tr>
            <th  data-field='field_id'>Id</th>
            <th  data-field='field_note'>Note</th>
            <th  data-field='field_name'>User History</th>
            <th  data-field='field_status'>Status</th>
            <th  data-field='field_serial_number'>Serial Number</th>
            <th data-field='field_contract'>Contract</th>
            <th  data-field='field_expiration_date'>Expiration date</th>
            <th  data-field='field_renewal_date'>Renewal date</th>
            <th  data-field='field_host_name'>Host name</th>
            <th  data-field='field_make'>Make</th>
            <th  data-field='field_model'>Model</th>
            <th  data-field='field_place'>Place</th>
            <th  data-field='field_user'>User</th>
            <th  data-field='field_detail'>Detail</th>
            <th  data-field='field_delete'>Delete</th>
            <th  data-field='field-edit'>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <th scope="row">{{ device.id }}</th>
                <th scope="row">{{ device.note }}</th>
                <td>
                    {% for usr in device.user_history.all %}
                        {{ usr }}<br/>
                    {% endfor %}
                </td>
                <td>{{ device.get_status_display }}</td>
                <td>{{ device.serial_number }}</td>
                <td>{{ device.contract }}</td>
                <td>{{ device.expiration_date|date:"d/m/Y" }}</td>
                <td>{{ device.renewal_date|date:"d/m/Y" }}</td>
                <td>{{ device.host_name }}</td>
                <td>{{ device.make }}</td>
                <td>{{ device.model }}</td>
                <td><a href="{% url 'place_detail' device.place.id %}">
                    {{ device.place }}</a></td>
                <td><a href="{% url 'user_detail' device.user.id %}">
                    {{ device.user.name }} {{ device.user.surname }}</a></td>
                <td><a href="{% url 'device_detail' device.id %}">
                    Detail</a></td>
                <td><a href="{% url 'device_delete' device.id %}">Delete device</a></td>
                <td><a href="{% url 'update_device' device.id %}">Edit device</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>


    {% if is_paginated %}
        <nav aria-label="Navigation">

            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' 1 %}">&laquo;
                        first</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?{% url_replace request 'page' page_obj.previous_page_number %}">previous</a>
                    </li>
                {% endif %}



                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?{% url_replace request 'page' page_obj.next_page_number %}">next</a>
                    </li>
                    <li class="page-item"><a class="page-link"
                                             href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">last
                        &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
    {% endif %}
    </div>

{% endblock %}