{% extends 'base.html' %}

{% block title %}
    {{ office.name }}
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-4">
                <div class="card card-body">
                    <h1 class="card-title">General data</h1>
                    <hr>
                    <h2>Name:</h2>
                    <p>{{ office.name }}</p>
                        <div class="col d-flex justify-content-end align-items-end">
                            <a class="btn btn-danger" href="{% url 'office_delete' office.id %}">Delete office</a>&nbsp
                            <a class="btn btn-success" href="{% url 'update_office' office.id %}">Edit office</a>

                    </div>
                </div>
            </div>
        </div>
        <br>
{% endblock %}