{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Device list
{% endblock %}

{% block content %}

    <h2>Place list</h2>
    <div class="row">
        <div class=" col-md-4">
            <div class="card card-body">

                <form method="get">
                    {{ filter.form.as_p }}
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class=" col-md-2">
            <div class="card card-body">
                <h5><i class="bi bi-building-fill"></i>
Total Places</h5>
                <hr>
                <h1>{{ page_obj.paginator.count }}</h1>
            </div>
        </div>
    </div>
    <br>
    <table class="table table-bordered table-responsive" data-sort-name="field_id" data-sort-order="asc">
        <thead>
        <tr>
            <th data-field='field_id'>Id</th>
            <th data-field='field_name'>Name</th>
            <th data-field='field_city'>City</th>
            <th data-field='field_address'>Address</th>
            <th data-field='field_cap'>Cap</th>
            <th data-field='field_country'>Country</th>
            <th data-field='field_plan'>Plan</th>
            <th data-field='field_detail'>Detail</th>
            <th data-field='field_delete'>Delete</th>
            <th data-field='field_delete'>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <th scope="row">{{ place.id }}</th>
                <td>{{ place.name }}</td>
                <td>{{ place.city }}</td>
                <td>{{ place.address }}</td>
                <td>{{ place.cap }}</td>
                <td>{{ place.country }}</td>
                <td>{{ place.plan }}</td>
                <td><a href="{% url 'place_detail' place.id %}">
                    Detail</a></td>
                <td><a href="{% url 'place_delete' place.id %}">Delete place</a></td>
             <td><a href="{% url 'update_place' place.id %}">Edit place</a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <nav aria-label="Navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}



        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
  </ul>
    </nav>
    <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
    </div>
{% endblock %}