{% extends 'base.html' %}

{% block title %}
Device list
{% endblock %}

{% block content %}

<h2>Place list</h2>

    <table class="table table-bordered table-responsive" data-sort-name="field_id" data-sort-order="asc">
        <thead>
            <tr>
                <th data-field='field_id'>Id</th>
                <th data-field='field_name'>Name</th>
                <th data-field='field_city'>City</th>
                <th data-field='field_address'>Address</th>
                <th data-field='field_cap'>Cap</th>
                <th data-field='field_country'>Country</th>
                <th data-field='field_plan'>Plan</th>
                <th data-field='field_detail'>Detail</th>
                <th data-field='field_delete'>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for place in places %}
                <tr>
                    <th scope="row">{{place.id}}</th>
                        <td>{{place.name}}</td>
                        <td>{{place.city}}</td>
                        <td>{{place.address}}</td>
                        <td>{{place.cap}}</td>
                        <td>{{place.country}}</td>
                        <td>{{place.plan}}</td>
                        <td><a href="{% url 'place_detail' place.id %}">
                            Detail</a></td>
                        <td><a href="{% url 'place_delete' place.id %}">Delete place</a></td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}