{% extends 'base.html' %}

{% block title %}
User list
{% endblock %}

{% block content %}

<h2>User list</h2>

    <table class="table table-bordered" data-sort-name="field_id" data-sort-order="asc">
        <thead>
            <tr>
                <th data-field='field_id'>Id</th>
                <th data-field='field_username'>Name</th>
                <th data-field='field_email'>Surname</th>
                <th data-field='field_email'>Email</th>
                <th data-field='field_delete'>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{user.id}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.surname}}</td>
                        <td>{{user.email}}</td>
                        <td><a href="{% url 'user_delete' user.id %}">Delete user</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}